@charset "UTF-8";
*{margin: auto;}

body{
background-image: url(pacote-d013/pacote-d013/imagens/fundo-madeira.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
position: relative;
max-width: 100%;
}

#iphone{

}